body{
    margin: 0;
    background-color:rgba(0, 0, 0, 0.728) ;
    font-family: 'Bruno Ace SC', cursive;
}

/* Css cabeçalho */
header{
   display: flex;
   justify-content: space-around;
   color: white;
   height: 10vh;
}

/* Css da main */
main{
    margin-top: 10px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 22px;
}

div{
    margin-top: 10px;
}

/* Css do input */
#campo{
    display: flex;
    flex-direction: column;
}

#campo input{
    padding: 6px;
    border-radius: 6px;
    font-size: 22px;
}

/* css da checkbox */
main input[type='checkbox']{
    transform:scale(1.5);
}

/* Css do botão */
#div-botao{
    display: flex;
    justify-content: center ;
}

button{
    padding: 16px;
    width: 150px;
    cursor: pointer;
    background-color: rgba(230, 96, 101, 0.832);
    color: white;
    border: 1px solid;
    border-radius: 8px;
    margin: 6px 20px;
}

/* css do output das senhas */
textarea{
    width: 100%;
    border-radius: 6px;
}